<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <nav class="navbar justify-content-center navbar-expand-lg">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipe/search">search for new recipes!</a>
            </li>

            {% if not g.user %}
            <li class="nav-item">
                <a class="nav-link" href="/login">log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">sign up</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">log out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/{{g.user.id}}/saves">view my saved recipes</a>
            </li>

            {% endif %}
        </ul>
    </nav>

    <div class="container">
    <p id = 'error_display'></p>

        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      
        {% block content %}
        {% endblock %}
      
      </div>

<script src="/static/app.js"></script>

</body>
</html>